.contacts {
  padding-top: 70px;
  text-align: left;

  @media (max-width: 540px) {
    padding: 94px 20px 0;
  }
}

.contacts__wrapper {
  
  margin-top: 70px;
  width: 580px;

  @media (max-width: 1024px) {
    margin-top: 50px;
    width: 100%;
  }
}

.contacts__main {
  display: flex;

  @media (max-width: 540px) {
    flex-direction: column;
  }
}

.contacts__main-text {
  padding: 0;
  margin-left: 27px;

  @media (max-width: 1024px) {
    padding: 0;
    width: 294px;
  }

  @media (max-width: 540px) {
    padding-top: 20px;
    margin-left: 0;
    width: 259px;
  }
}

.contacts__main-text-name {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 30px;

  @media (max-width: 1024px) {
    display: none;
  }
}

.contacts__main-text-sign,
.contacts__main-text-desc {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.025em;
  text-indent: 20px;

  @media (max-width: 1024px) {
    font-size: 16px;
    line-height: 21px;
  }

  @media (max-width: 540px) {
    font-size: 14px;
    line-height: 20px;
  }
}

.contacts__main-text-sign {
  margin: 0;
  padding-bottom: 15px;

  @media (max-width: 540px) {
    padding-bottom: 0;
  }
}

.contacts__main-text-sign.m-mobile {
  display: none;

  @media (max-width: 1024px) {
    display: block;
    padding-bottom: 0;
  }

  @media (max-width: 540px) {
    font-size: 10px;
  }
}

.contacts__main-text-sign.m-mobile a {
  text-decoration: none;
  color: #4F4F4F;

  @media (max-width: 540px) {
    font-size: 10px;
  }
}

.contacts__main-text-desc {
  text-indent: 20px;
}

.contacts__main-text-desc:first-child {
  padding-bottom: 20px;
}

.contacts__main-foto img {
  height: 100px;
  width: auto;

  @media (max-width: 1024px) {
    height: 150px;
    width: auto;
  }
  
}

.contacts__list {
  margin-top: 70px;
  margin-bottom: 0;
  padding: 0;

  @media (max-width: 1024px) {
    margin: 50px 0;
  }

  @media (max-width: 540px) {
    margin: 30px 0;
  }
}

.contacts__list-title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  padding-bottom: 21px;

  @media (max-width: 1024px) {
    font-size: 24px;
    line-height: 27px;
    padding-bottom: 25px;
  }

  @media (max-width: 540px) {
    font-size: 16px;
  }
}

.contacts__list-mail,
.contacts__list-tel {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.025em;

  @media (max-width: 1024px) {
    font-size: 16px;
  }

  @media (max-width: 540px) {
    font-size: 14px;
  }

  p {
    margin: 0;
    white-space: nowrap;
  }

  &.mail,
  &.tel {
    width: 100px;

    @media (max-width: 540px) {
      width: 80px;
    }
  }
}

.contacts__list-mail {
  padding-bottom: 3px;

  @media (max-width: 1024px) {
    padding-bottom: 15px;
  }
}

