.experience-page {
  margin-top: 70px;
  padding: 0;
  text-align: left;
}

.experience-page__title {
  margin-bottom: 62px;
}

.experience-page__wrapper {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

.experience-page__wrapper img,
.experience-page__foto.fifth {
  width: 648px;
}

.experience-page__wrapper.first  img {
  height: 486px;
}

.experience-page__wrapper.second img {
  height: 501px;
}

.experience-page__wrapper.third {
  margin: 70px 0;
  height: 664px;
}

.experience-page__wrapper.fourth {
  height: 460px;
  margin-bottom: 70px;
}

.experience-page__main-foto {
  margin: 80px 0 70px;
  height: 700px;
  width: 1140px;
}
 
.experience-page__foto-block {
  display: flex;
  justify-content: space-between;
  height: 260px;
  margin-bottom: 70px;
}

.experience-page__foto-block.small {
  margin-bottom: 30px;
}

.experience-page__foto-block img {
  width: 353px;
}

.experience-page__quote {
  width: 888px;
  margin: 0 auto;
  padding: 50px 0;
  text-align: left;
}

.experience-page__quote-text {
  font-family: 'Raleway-Regular', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  padding: 30px 0;
  margin: 0;
}

.experience-page__text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.025em;
  text-indent: 20px;
  width: 453px;
}

.experience-page__text.first {
  padding-top: 110px;
}

.experience-page__text.second img {
  height: 501px;
}

.experience-page__text p {
  margin: 0;
}

.experience-page__text.third,
.experience-page__text.fourth {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.experience-page__wrapper.fifth {
  margin: 70px 0;
}

.experience-page__text p:first-child {
  padding-bottom: 20px;
}

.experience-page__line-up,
.experience-page__line-down {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  padding: 0 46px 0 120px;
}

.experience-page__line-down {
  justify-content: flex-end;
}

.experience-page__line {
  width: 385px;
  height: 0px;
  border: 1px solid #EDD500;
  margin-left: 28px;
  margin-right: 13px;
}

.quotes {
  width: 80px;
  height: 60px;
}

.experience-page__foto {
  margin: 70px 0;
}

.experience-page__foto-block-third {
  display: flex;
  justify-content: space-between;
  height: 570px;
  margin-bottom: 70px;
}

.experience-page__foto-block-third img {
  width: 491px;
}

.experience-page__foto-block-third.small {
  display: flex;
  flex-direction: column;
}

.experience-page__foto-block-third.small img {
  height: 254px;
  width: 590px;
}

.experience-page__wrapper.fifth {
  height: 1060px;
}

.experience-page__foto.fifth {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}

.experience-page__foto.fifth img {
  height: 515px;
}

.experience-page__text.fifth {
  height: 100%;
}

.experience-page__text.fifth p:not(:last-child) {
  padding-bottom: 20px;
}

.experience-page__video {
  align-items: flex-end;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 53px;
  width: 100%;
}

.experience-page__video-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 30px;
  height: 423px;
  width: 523px;
}

.experience-page__video-block:last-child {
  margin-right: 0;
}

.experience-page__video-block-text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.025em;
  margin-bottom: 33px;
}