.footer{
  width: 100%;
  margin: 0 auto;
  padding: 0 0 14px;

  @media (max-width: 1024px) {
    padding: 0;
  }
}

.footer__promotion,
.announcements,
.projects {
  display: flex;
}

.footer__promotion {
  @media (max-width: 1024px) {
    padding: 0 20px;
  }

  @media (max-width: 540px) {
    flex-direction: column;
  }
}

.footer__promotion-main {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media (max-width: 1024px) {
    flex-direction: column;
    flex: .5;
  }
}

.announcements {
  flex: .5;

  @media (max-width: 1024px) {
    padding-bottom: 25px;
  }

  @media (max-width: 540px) {
    padding-top: 20px;
  }
}

.projects {
  flex: 1;
}

.announcements,
.projects {
  flex-direction: column;
}

.announcements__wrapper,
.projects__wrapper {
  display: flex;
  justify-content: space-between;
}

.projects__wrapper {
  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

.footer__title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 22px;

  @media (max-width: 1024px) {
    padding-bottom: 0;
  }

  @media (max-width: 540px) {
    font-size: 16px;
  }
}

.announcements__item,
.projects__item {
  width: 141px;

  @media (max-width: 1024px) {
    width: 100%;
  }
}

.projects__item a,
.announcements__item a {
  text-decoration: none;
    color: inherit;
}

.announcements__item a:hover,
.announcements__item a:focus,
.announcements__item a:active,
.projects__item a:hover,
.projects__item a:focus,
.projects__item a:active {
  color: #EDD500;
}

.announcements__item-image,
.projects__item-image {
  display: block;

  @media (max-width: 1024px) {
    display: none;
  }
}

.announcements__item-text,
.projects__item-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  text-align: left;
  margin-top: 12px;

  @media (max-width: 1024px) {
    font-size: 16px;
    line-height: 21px;
  }

  @media (max-width: 540px) {
    font-size: 10px;
    line-height: 12px;
  }
}

.footer__copyright {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  color: #CECECE;
  margin-top: 60px;
  justify-content: space-between;

  @media (max-width: 1024px) {
    margin: 15px 20px;
  }

  @media (max-width: 540px) {
    font-size: 8px;
    margin: 15px 30px 10px;
  }
}

.footer__copyright p {
  margin: 0;
  padding: 0;
}

.footer__social {
  display: none;

  @media (max-width: 1024px) {
    display: flex;
    flex: .5;
    flex-direction: column;
    text-align: left;
  }
}

.footer__line {
  display: none;

  @media (max-width: 1024px) {
    display: block;
    background-color: #EDD500;
    height: 1px;
    margin: 66px -31px 0;
  }

  @media (max-width: 540px) {
    margin: 20px -18px 0;
  }
}