.footer{
  width: 100%;
  padding: 70px 0 18px;
}

.footer__wrapper {
  width: 1076px;
  margin: 0 auto;
}

.footer__wrapper.m-copyright {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer__wrapper.m-copyright p {
  padding: 20px 0;
  margin: 0;
}

.footer__promotion,
.announcements,
.projects {
  display: flex;
}

.announcements {
  flex: .5;
}

.projects {
  flex: 1;
}

.announcements,
.projects {
  flex-direction: column;
}

.announcements__wrapper,
.projects__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 22px;
}

.announcements__item,
.projects__item {
  width: 141px;
}

.announcements__item-text,
.projects__item-text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  text-align: left;
  margin-top: 12px;
}

.footer__copyright {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  color: #CECECE;
  border-top: 1px solid #EDD500;
  margin-top: 40px;
}