.gallery.big {
  align-items: center;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  margin: 0;
  width: 100%;
}

.image {
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #ebebeb;
  margin: 0;
  cursor: pointer;
  outline: none;
  height: 700px; 
  width: 1140px;

  @media (max-width: 1024px) {
    width: 740px;
    height: 454px;
  }

  @media (max-width: 540px) {
    width: 300px;
    height: 184px;
  }
}

.blueimp-gallery {
  background: #fff;
}

#blueimp-gallery {
  display: none;
}

.blueimp-gallery>.next,
.blueimp-gallery>.next {
  outline: none;
}