#app {
  display: block;
  text-align: center;
  color: #2c3e50;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1076px;
  padding-top: 50px;
  color:#4F4F4F;
}

.pages-wrapper {
  align-items: flex-start;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  max-width: 1076px;
}
