.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #FFFFFF;
  padding: 42px 99px;
  margin: 0 auto;

  @media (max-width: 540px) {
    padding: 0;
    width: 300px;
  }
}

.modal__btn-close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  outline: none;
  text-align: right;
}

.modal__header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}

.modal__title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;
  text-transform: uppercase;
  padding-top: 50px;
  margin: 0;
}

.modal__body-wrapper {
  width: 373px;
}

.modal__body-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.025em;
  text-align: left;
  margin: 15px 0 30px;
}

.modal__body-text p {
  margin: 0;
}

.modal__body-text ul {
  margin: 0;
  padding-left: 18px;
}

.subscription-form {
  height: 128px;
}

.modal__body-wrapper-success {
  margin: 0 auto;
  padding: 155px 112px;
  text-align: center;

  @media (max-width: 540px) {
    padding: 50px;
  }
}

.modal__body-success p {
  color: #000000;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.025em;
  margin: 0;
  padding-top: 15px;
}

.modal__body-return {
  cursor: pointer;
  margin-top: 47px;
  outline: none;
}

.modal__body-return a {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}