.pragmem {
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  width: 100%;
}

.pragmem__sign {
  text-align: left;
}

.pragmem__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  padding: 0;
  height: 479px;
}

.pragmem__title {
  margin-bottom: 15px;
  padding: 0;
}

.pragmem__title-sign {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  margin: 0;
  padding-bottom: 10px;
}

.pragmem__link {
  align-items: center;
  display: flex;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.pragmem__link-text {
  margin: 0;
  padding: 0;
}

.pragmem__link-item {
  color: #4F4F4F;
  cursor: pointer;
  outline: none;
  padding-left: 7px;
  margin: 0;
  text-decoration: none;
}

.pragmem__link-item:hover,
.pragmem__link-item:focus {
  color: #EDD500;
}

.pragmem__main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.025em;
  text-align: left;
  width: 453px;
}

.pragmem__main-text p {
  margin: 0;
  padding: 0;
}

.pragmem__main-text p {
  text-indent: 20px;
}

.pragmem__video {
  width: 627px;
}