.subscription {
  border-top: 1px solid #EDD500;
  border-bottom: 1px solid #EDD500;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 192px;
  margin: 70px 0;
  padding: 34px 0;
  width: 100%;
  height: auto;

  @media (max-width: 768px)  {
    align-items: center;
    margin-bottom: 50px;
    margin-top: 0;
  }
}

.subscription__text {
  text-align: left;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.025em;
  width: 690px;

  @media (max-width: 768px) {
    font-size: 16px;
    width: 380px;
  }
}

.subscription__text p {
  margin: 0;
  padding-bottom: 10px;
  text-indent: 20px;
}

.subscription__text ul {
  margin: 0;
}

.subscribe-btn.m-social {
  margin-top: -5px;
}